@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'GangwonEduSaeeum_OTFMediumA', sans-serif;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;        /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.heart-container {
  width: 60px;
  height: 96px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.heart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  transition: transform 0.5s;
  animation: heartbeat 1s infinite alternate;
  cursor: pointer;
}

.heart:before,
.heart:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100px 100px 0 0;
  position: absolute;
  background-color: #e74c3c;
  box-shadow: -10px 6px 10px -2px rgba(0, 0, 0, 0.25);
}

.heart:before {
  left: 44%;
  top: 0;
  transform: scale(-1) rotate(225deg);
}

.heart:after {
  left: 0;
  top: 0;
  transform: scale(-1) rotate(-225deg);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heart:hover:before,
.heart:hover:after {
  background-color: darkred;
  box-shadow: none;
  transition: 2.5s all;
}

.heart-container:active {
  transform: scale(0);
  transition: 3s all;
}

.scroll-container {
  -webkit-overflow-scrolling: touch; /* iOS 모멘텀 스크롤 */
  scroll-snap-type: y mandatory;     /* 스크롤 스냅 활성화 */
}
.scroll-container > section {
  scroll-snap-align: start;         /* 각 섹션 스냅 포인트 */
}